<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTE</title>

    <link rel="stylesheet" href="../assets/rte.css">

</head>
<body>
    <main class="container">
        <h1>Tabela dos tecidos expedidos</h1>
        <nav class="area-btn">
            <button id="home" onclick="navegar()">HOME</button>
<!--             <button id="delete" onclick="apagar()">DELETE</button>
            <button id="buscar" onclick="buscar()">BUSCAR</button>
            <button id="novo" onclick="novo()">NOVO</button> -->
        </nav>
        <section class="view-table">
            <table border="1">
                <thead>
                    <th>cod</th>
                    <th>largura</th>
                    <th>desc</th>
                    <th>modelo</th>
                    <th>linear</th>
                    <th>m2</th>
                    <th>oz</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </main>
 
<script src="../js/rte.js"></script>
</body>
</html>